# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  mvtnorm,pwr
)
importFrom("stats", "cov2cor", "dbinom", "nlminb", "pchisq", "pnorm", "qbinom", "qnorm")
